*{
    padding: 10px;
}
.header{
    background-color: aqua;
    font-weight: bold;;
    color: bisque;
    margin:  auto;
    text-align: center;
}
#Description{
    background-color: black;
    color: aliceblue;
}
.ingredients{
    background-color: blue;
    color: beige;
    font-weight: bold;
}
.steps{
    background-color:darkcyan ;
    color: lightgoldenrodyellow;
    font-weight: bold;
}